<h1>Productos con Paginaci칩n</h1>
<ul>
{{#each products}}
    <li>
    {{this.title}} - ${{this.price}}
    <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="post">
        <button type="submit">Agregar al carrito</button>
    </form>
    </li>
{{/each}}
</ul>

<div>
{{#if hasPrevPage}}
    <a href="{{prevLink}}">P치gina anterior</a>
{{/if}}
P치gina {{page}} de {{totalPages}}
{{#if hasNextPage}}
    <a href="{{nextLink}}">P치gina siguiente</a>
{{/if}}
</div>
